{% load static %}
{% block header %}
<header>
    <nav class="container">
        <a class='navbar-brand' href='{% url 'index' %}'>
            Neisk.ru
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a class='nav-link link-light' href='{% url 'create_post' %}'>
                    Написать статью
                </a>
            </li>
            <img src="{% static 'images/find.svg' %}" onclick='search_form.submit();'>
            <form id="search_form" action="{% url 'search_post'  %}" method="GET">
                <input class="text-black" name='q' type="text" placeholder="Поиск">
                <input type="hidden" name="category" value="{{ category }}" >
            </form>
            {% if request.user.is_authenticated is False %}
            <li class="nav-item">
                <a class='nav-link link-light' href='{% url 'login' %}'>
                    Войти
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link link-light' href='{% url 'register' %}'>
                    Регистрация
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class='nav-link link-light' href='{% url 'logout' %}'>
                    Выйти
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
</header>
<div class='categories container'>
    {% for category in categories %}
        {% if category.name == current_category %}
        <div class="pill active"><a href="{% url 'index' %}">{{ category }}</a></div>
        {% else %}
        <div class="pill"><a href="{% url 'search_post' %}?category={{ category }}">{{ category }}</a></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}