{% extends '_base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% csrf_token %}
    <div class='mb-3'>
        <label class='form-label'>Логин</label>
        {{ form.username }}
    </div>
    <div class='mb-3'>
        <label class='form-label'>Пароль</label>
        {{ form.password1 }}
    </div>
    <div class='mb-3'>
        <label class='form-label'>Повторите пароль</label>
        {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock content %}