{% extends '_base.html' %}
{% load static %}

{% block header %}
    {% include '_header.html' with current_category=post.category.name %}
{% endblock %}

{% block content %}
<div class="container post">
    <div class="post-title">
        <h1>{{ post.title }}</h1>
        <span>Автор статьи: <a>{{ post.author }}</a></span>
    </div>
    <div class="post-content">
        <p>{{ post.text|safe|linebreaks }}</p>
    </div>
    <div class='post-footer'>
        <div class='post-tags pill active'>
            <span>
                {{ post.category }}
            </span>
        </div>
        <div class='metrics'>
            <div class="comments">
                {{ post.comments.count }}
                <img class="invert" src="{% static 'images/comment.svg' %}">
            </div>
            <div class="likes">
                {{ post.likes.count }}
                {% if request.user.is_authenticated %}
                {% if request.user in post.likes.all %}
                <a href="{% url 'like_post' post.id %}">
                    <img src="{% static 'images/like_active.svg' %}">
                </a>
                {% else %}
                <a href="{% url 'like_post' post.id %}">
                    <img class="invert" src="{% static 'images/like.svg' %}">
                </a>
                {% endif %}
                {% else %}
                <img class="invert" src="{% static 'images/like.svg' %}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comments">
        {% if post.comments.count != 0 %}
        <h2>Comments</h2>
        {% for comment in post.comments.all %}
        <div class="comment">
            <span>{{ comment.author }}</span>
            <span>{{ comment.text }}</span>
        </div>
        {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <form class="leave_comment" method="POST" action="{% url 'create_comment' post.id %}">
            {% csrf_token %}
            {{ form.text }}
            <input class="pill btn-send" type="submit" value="Оставить комментарий">
        </form>
        {% else %}
        <div>
            <a href="{% url 'login' %}">Войдите</a>, чтобы оставить комментарий.
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}