{% extends '_base.html' %}
{% block content %}
<form class="login_form" method="POST">
    {% csrf_token %}
    <div>
        <input type="text" placeholder="Логин" name="username" autocomplete="username" maxlength="150" required="" id="id_username">
    </div>                
    <div>
        <input type="password" placeholder="Пароль" name="password" autocomplete="current-password" required="" id="id_password">
    </div>
    <div class="form-footer">
        <a href="{% url 'register' %}">Регистрация</a>
        <a href="{% url 'register' %}">Забыли пароль?</a>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock content %}