{% extends '_base.html' %}
{% block content %}
<div class='form-group'>
<form method="POST">
    {% csrf_token %}
    <div class='mb-3'>
        <label class='form-label'>Логин</label>
        <input class='form-control' type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    </div>                
    <div class='mb-3'>
        <label class='form-label'>Пароль</label>
        <input class='form-control' type="password" name="password" autocomplete="current-password" required="" id="id_password">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>
{% endblock content %}